table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

th {
  background-color: lightgray;
}

tr:nth-child(even) {
  background-color: lightblue;
}
